/* MAIN COLORS */

$white: #FFFF;
$black-pure: #0000;
$bcg-purple-pure: #5E376D;
$bcg-purple-gradient: linear-gradient(180deg, rgba(94,55,109,1) 0%, rgba(171,128,180,1) 56%, rgba(150,160,108,0.829656862745098) 100%);
$black-1: rgb(33, 33, 33);
$black-2: rgb(52, 52, 52);
$dark-grey: rgb(79, 79, 79);
$grey: rgb(100, 100, 100);

/* TEXT/BOX SHADOWS */

$shadow1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

/* FONTS */

$pt-sans-font: 'PT Sans', sans-serif;
$logo-font: 'Edu NSW ACT Foundation', cursive;